<!DOCTYPE html>
<html lang="en">

<head>
    <title>Moringa Notification</title>
    <meta name="description" content="Verification Link">
    <meta name="keywords" content="keywords">
</head>


<body>
    <div id="div-page"
        style="border: 2px solid #86C232;border-radius: 25px;width: 30em;padding: 25px;margin: 5em;text-align: justify; border-width: thick">

        <h1 style="line-height: 35px;text-align: center; color: #86C232;">
            Progress Report
        </h1>
        <h1 style="line-height: 25px;text-align: center;">
            Hello <span id="username" style="color: #23bebe;">{{username}}</span>
        </h1>

        <div id="div-content" style="line-height: 26px;">
            <p style="text-align: center;">Congratulations for passing this level.</p>

            <br>
            <p style="text-align: center;">Keep on being a rockstar!!.</p>

        </div>
    </div>


</body>

</html>